.gpt3__cta {
    border-radius: 10.724px;
    border: 1px solid #000;
    background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3.5rem;
    display: flex;
    align-items: center;
}

.gpt3__cta-text {
    flex: 1;
}

.gpt3__cta-text p {
    color: #0E0E0E;
    font-size: 12px;
    font-weight: 500;
}

.gpt3__cta-text h3 {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    line-height: 45px;
}

.gpt3__cta-start button {
    min-width: 189px;
    min-height: 59px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.gpt3__cta-start button:hover {
    background-color: transparent;
    color: #000;
}


@media (max-width: 450px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-text h3 {
        line-height: 36px;
        margin-top: 1rem;
    }

    .gpt3__cta-start button {
        margin-top: 2rem;
    }
}