.gpt3__features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.gpt3__features-intro {
    flex: 1;
}

.gpt3__features-intro h1 {
    color: #FFF;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 2.5rem;
}

.gpt3__features-intro p {
    color: #FF8A71;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.gpt3__features-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gpt3__features-container div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.gpt3__features-container div h3 {
    min-width: 150px;
    flex: 1;
    position: relative;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.gpt3__features-container div h3 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
}

.gpt3__features-container div div {
    min-width: 334px;
    min-height: 92px;
}

.gpt3__features-container div div p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}



@media (max-width: 991px) {
    .gpt3__features-intro {
        flex: auto;
    }

    .gpt3__features-intro h1 {
        font-size: 28px;
        line-height: 37px;
    }

    .gpt3__features-intro p {
        font-size: 14px;
        margin-bottom: 3rem;
    }

    .gpt3__features-container {
        gap: 40px;
    }

    .gpt3__features-container div div {
        min-width: 150px;
        min-height: 92px;
    }
}